extends layout

block content
  h1= title
  
  ul
  each member in member_list
    li 
      a(href=member.url) #{member.first_name} #{member.last_name} 
      | ( Code: #{member.code} - Phone: #{member.phone} ) #{member.createAt}

  else
    li There are no members.